<p id="notice"><%= notice %></p>

<h1>Lista delle visite</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>idVisita</th>
      <th>Nome paziente</th>
      <th>Cognome paziente</th>
      <th>Telefono paziente</th>
      <th>Email paziente</th>
      <th>Ora visita</th>
      <th>LuogoVisita</th>
      <th>Tipo visita</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%if user_signed_in?%>
    <% @booleano=1 %>
  <%end%>
  <tbody>
    <% @visites.each do |visite| %>
      <tr>
        <% if user_signed_in? and current_user == visite.user and visite.ora_visita !=nil%>
          <td><%= visite.id %></td>
          <td><%= visite.nome_paziente %></td>
          <td><%= visite.cognome_paziente %></td>
          <td><%= visite.telefono_paziente %></td>
          <td><%= visite.email %></td>
          <td><%= visite.ora_visita %></td>
          <td><%= visite.luogoVisita %></td>
          <td><%= visite.tipo_visita %></td>
          <td><%= link_to 'Show', visite ,class:"btn btn-secondary"%></td>
          <td><%= link_to 'Edit', edit_visite_path(visite) ,class:"btn btn-secondary"%></td>
          <td><%= link_to 'Destroy', visite, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-secondary"%></td>
      </tr>
      <% end %>
    <% end %>

    <% if paziente_signed_in? %>
    
      <% Visite.where(email: current_paziente.email).each do |visiteDelPaziente|%>
        <tr>
          <td><%= visiteDelPaziente.id %></td>
          <td><%= visiteDelPaziente.nome_paziente %></td>
          <td><%= visiteDelPaziente.cognome_paziente %></td>
          <td><%= visiteDelPaziente.telefono_paziente %></td>
          <td><%= visiteDelPaziente.email %></td>
          <td><%= visiteDelPaziente.ora_visita %></td>
          <td><%= visiteDelPaziente.luogoVisita %></td>
          <td><%= visiteDelPaziente.tipo_visita %></td>

          <td><%= link_to 'Destroy', visiteDelPaziente, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-secondary"%></td>
        </tr>
        <% end %>
    <% end %>
    
    <% @visites.each do |visite| %>
      <tr>
        <% if administrator_signed_in? %>
          <td><%= visite.id %></td>
          <td><%= visite.nome_paziente %></td>
          <td><%= visite.cognome_paziente %></td>
          <td><%= visite.telefono_paziente %></td>
          <td><%= visite.email %></td>
          <td><%= visite.ora_visita %></td>
          <td><%= visite.luogoVisita %></td>
          <td><%= visite.tipo_visita %></td>
          <td><%= link_to 'Show', visite ,class:"btn btn-secondary"%></td>
          <td><%= link_to 'Edit', edit_visite_path(visite) ,class:"btn btn-secondary"%></td>
          <td><%= link_to 'Destroy', visite, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-secondary"%></td>
      </tr>
      <% end %>
    <% end %>
   

  </tbody>
</table>


<br>
<% if @booleano == 1%>
  <%= link_to 'New Visite', new_visite_path ,class:"btn btn-secondary"%>
<% end %>

