<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <%= link_to 'App',root_path , class:'navabar-brand' ,style:'color: white;'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    
      <%= link_to 'About',home_about_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
      <li class="nav-item">

      <%= link_to 'Mostra Visite',visites_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
      <li class="nav-item">
      
      <%if user_signed_in?%>
        <%= link_to 'Esci',destroy_user_session_path,class:'nav_link' ,style:'color: white;padding-left: 5px;',method: :delete%>
        <li class="nav-item">

        <%= link_to 'Edita profilo',edit_user_registration_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">
        <%else%>
      
          <%= link_to 'Registrati',new_user_registration_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
          <li class="nav-item">
          
          <%= link_to 'Loggati',new_user_session_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
          <li class="nav-item">
      <%end%>
      

     
      

    </ul>
  </div>
</nav>