<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <%= link_to 'Home',root_path , class:'navabar-brand' ,style:'color: white;'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    
      <%if user_signed_in? or paziente_signed_in? %>
        <%= link_to 'Mostra Visite',visites_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">
      <%end%>

      <%if (not user_signed_in?) and (not paziente_signed_in?) and (not administrator_signed_in?)%>
        <%= link_to 'Registrati come medico',new_user_registration_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">
        
        <%= link_to 'Loggati come medico',new_user_session_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">

        <%= link_to 'Registrati come paziente',new_paziente_registration_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">
        
        <%= link_to 'Loggati come paziente',new_paziente_session_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">
      <%end%>

      <%if user_signed_in? and (not paziente_signed_in?)%>
        <%= link_to 'Esci',destroy_user_session_path,class:'nav_link' ,style:'color: white;padding-left: 5px;',method: :delete%>
        <li class="nav-item">

        <%= link_to 'Edita profilo',edit_user_registration_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">
      <%end%>

      <%if (not user_signed_in?) and  paziente_signed_in?%>
        <%= link_to 'Esci',destroy_paziente_session_path,class:'nav_link' ,style:'color: white;padding-left: 5px;',method: :delete%>
        <li class="nav-item">

        <%= link_to 'Edita profilo',edit_paziente_registration_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">
      <%end%>


      <%if  user_signed_in?%>
        <%= link_to 'listaPazienti',"/profiliPazienti",class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">
        
        <%= link_to 'Richieste Di Appuntamento',"/richiestediappuntamento",class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">

        <%= link_to 'ProfiloMedico',profiles_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">
      <%end%>
      <%if  paziente_signed_in?%>
        <%= link_to 'Prescrizioni',prescriptions_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">

        <%= link_to 'PrenotaUnMedico',"/prenotaunmedico",class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">

        <%= link_to 'ProfiloPaziente',profilopazientis_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">
        
        

      <%end%>
      
      <% if administrator_signed_in?%>
        <%= link_to 'Esciadmin',destroy_administrator_session_path,class:'nav_link' ,style:'color: white;padding-left: 5px;',method: :delete%>
        <li class="nav-item">
        <%= link_to 'Funzioni Amministratore',funzioniamministratore_path,class:'nav_link' ,style:'color: white;padding-left: 5px;'%>
        <li class="nav-item">
      <%end%>

     

    </ul>
  </div>
</nav>