<p id="notice"><%= notice %></p>

<h1>Lista medici</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>idMedico</th>
      <th>email medico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medici.each do |medico| %>
      <tr>
          <td><%= medico.id %></td>
          <td><%= medico.email %></td>
          <td><%= link_to 'Edit', 'cambiamedico/'+medico.id.to_s ,class:"btn btn-secondary"%></td>
          <td><%= link_to 'Destroy', 'distruggimedico/'+medico.id.to_s,class:"btn btn-secondary"%></td>
      </tr>
  
    <% end %>
  </tbody>
</table>
<br><br><br>
<h1>Lista pazienti</h1>
<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>idPaziente</th>
      <th>email paziente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pazienti.each do |paziente| %>
      <tr>
          <td><%= paziente.id %></td>
          <td><%= paziente.email %></td>
          <td><%= link_to 'Edit', 'cambiapaziente/'+paziente.id.to_s ,class:"btn btn-secondary"%></td>
          <td><%= link_to 'Destroy', 'distruggipaziente/'+paziente.id.to_s ,class:"btn btn-secondary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>
<h1>Amministratore</h1>
   
<%= link_to 'Edita amministratore', '/administrators/edit' ,class:"btn btn-secondary"%></td>
      
    






