<p id="notice"><%= notice %></p>

<h1>Lista dei profili dei miei pazienti</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Eta</th>
      <th>Email</th>
      <th>Descrizione</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Profilopazienti.all.each do |profilopazienti| %>
    <% if @arr.include? profilopazienti.email %>
      <tr>      
        <td><%= profilopazienti.nome %></td>
        <td><%= profilopazienti.cognome %></td>
        <td><%= profilopazienti.eta %></td>
        <td><%= profilopazienti.email %></td>
        <td><%= profilopazienti.descrizione %></td>
        <td><%= link_to 'Lista prescizioni cliente', '/prescrizioniPaziente/'+ profilopazienti.paziente_id.to_s %></td>        
      </tr>      
      <% end %>
      <% end %>
  </tbody>
</table>

<br>
